<!doctype html>
<html>
    <head>
        <title>AlphaBlog</title>
        
        <%= stylesheet_link_tag 'application.css' %>
    </head>
    <body>
        
        <header><h1 class="title">AlphaBlog</h1></header>
        
        <section>
            <div class="aside">
                <h2>Quick Links</h2><br>
                <%= link_to 'About AlphaBlog', about_path %>
            </div>
            <div class="main">
                <h2>Newest Article</h2>
            </div>
            <div class="aside">
                <h2>Archives</h2>
            </div>
        </section>
        
        <footer></footer>
        
    </body>
</html>